<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfileController</servlet-name>
        <servlet-class>controller.LoadInputController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPasswordController</servlet-name>
        <servlet-class>controller.LoadPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestsController</servlet-name>
        <servlet-class>controller.RequestsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitRequestController</servlet-name>
        <servlet-class>controller.SubmitRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusController</servlet-name>
        <servlet-class>controller.UpdateStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVNPayPaymentServlet</servlet-name>
        <servlet-class>controller.CreateVNPayPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturnServlet</servlet-name>
        <servlet-class>controller.VNPayReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailCusServlet</servlet-name>
        <servlet-class>controller.OrderDetailCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfileController</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPasswordController</servlet-name>
        <url-pattern>/loadpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestsController</servlet-name>
        <url-pattern>/requests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPServlet</servlet-name>
        <servlet-class>controller.SendOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>controller.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuSuggestionServlet</servlet-name>
        <servlet-class>controller.MenuSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewSuggestionServlet</servlet-name>
        <servlet-class>controller.ReviewSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueReportServlet</servlet-name>
        <servlet-class>controller.RevenueReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementServlet</servlet-name>
        <servlet-class>controller.OrderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPServlet</servlet-name>
        <url-pattern>/SendOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitRequestController</servlet-name>
        <url-pattern>/submitRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusController</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuSuggestionServlet</servlet-name>
        <url-pattern>/MenuSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewSuggestionServlet</servlet-name>
        <url-pattern>/ReviewSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueReportServlet</servlet-name>
        <url-pattern>/RevenueReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementServlet</servlet-name>
        <url-pattern>/OrderManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVNPayPaymentServlet</servlet-name>
        <url-pattern>/create-vnpay-payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturnServlet</servlet-name>
        <url-pattern>/vnpay-return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailCusServlet</servlet-name>
        <url-pattern>/order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/order-history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
        <!-- 60 phút -->
    </session-config>
</web-app>
